[x-cloak] {
    display: none;
}

/**
* Login & Register Page 
*
**/
/* .auth-bg-pattern {
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

input:-internal-autofill-selected {
    box-shadow: 000px 1000px #fff inset;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* Top Bar */
span {
    font-size: 16px;
    font-family: "poppins", sans-serif;
    padding: 8px;
}
.donate-btn {
    background-color: #646fd4;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    font-size: 16px;
    font-family: "poppins", sans-serif;
}

.donate-btn:hover {
    background-color: #4cacbc;
    color: #fff;
    transition: 0.2s;
}
li .hover {
    padding: 8px;
}
.hover {
    font-size: 16px;
    font-family: "poppins", sans-serif;
}
.hover:hover {
    color: #646fd4;
}

/* header.blade */
.dropdown:hover > .dropdown-menu {
    display: block;
}

.category-dropdown-menu {
    z-index: 999;
}

.category-dropdown-menu[data-show] {
    display: block;
}
.inline-block {
    font-size: 16px;
    font-family: "poppins", sans-serif;
}
.inline-block:hover {
    color: #646fd4;
}

/* Sections */

.card {
    padding-top: 20px;
}
.card-img-top {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card-body {
    padding-top: 30px;
}

.card-title {
    text-align: initial;
    color: #1b2430;
    font-size: 20px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}
.text-muted {
    text-align: initial;
    font-size: 16px;
    padding: 0;
    padding-top: 10px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
}

/* .btn {
    background-color: red;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
    align-items: center;
}
.btn:hover {
    background-color: #1b2430;
    transition: 0.4s linear;
    color: #eee;
} */

section .container:hover {
    box-shadow: 1px 5px 10px #aae2c3be;
    transition: 0.1s linear;
    cursor: pointer;
}
.container .py-5 {
    height: 400px;
}
.py-5 {
    margin-top: 0rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.bg-gray-100 .container {
    margin-top: 5px;
}
.mb-4 {
    margin-bottom: 0rem;
}
.py-5 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.calendar {
    padding-left: 25%;
    padding-top: 1%;
}

.converter {
    padding-left: 25%;
    padding-top: 20%;
}

.converter h1 {
    font-size: 20px;
}

.clock {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #1b2430;
    text-align: center;
    padding-top: 6%;
}
.place h1 {
    font-size: 30px;
    text-align: center;
    color: #1b2430;
}

/* Counter */

.col-3 {
    margin-top: 5rem;
    border: 1px dashed #1b2430;
    border-radius: 5px;
}
.col-3:hover {
    box-shadow: 1px 5px 10px #aae2c3be;
    transition: 0.1s linear;
    cursor: pointer;
}
p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.counter-desc {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* Features */
.box {
    margin-top: 5rem;
    height: 50vh;
}
.icon {
    text-align: center;
    font-size: 48px;
}

.title {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}
.para {
    height: 200px;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}

.button {
    color: #fff;
    border-radius: 2px;
    border: 1px solid #646fd4;
    background-color: #646fd4;
    font-size: 24px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.button:hover {
    box-shadow: 1px 2px 5px #3a3a3a;
    transition: 0.3s linear;
    cursor: pointer;
    background-color: #4cacbc;
    color: #fff;
    border: none;
}

.time_zone {
    padding-top: 60px;
    justify-content: space-around;
    display: block;
}
.clock {
    font-size: 30px;
}
.place_name {
    text-align: center;
}

/* top-bar register bar */
button a.hover {
    background-color: #646fd4;
    color: #fff;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}
button.hover {
    background-color: #646fd4;
    color: #fff;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}
button.hover:hover {
    background-color: #4cacbc;
    color: #fff;
    transition: 0.2s;
}

button a.hover:hover {
    background-color: #4cacbc;
    color: #fff;
    transition: 0.2s;
}

/* Register Form */
.text-center {
    text-align: center;
    font-size: 20px;
}
.text-center a {
    background-color: #646fd4;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.text-center a:hover {
    background-color: #4cacbc;
    color: #fff;
    transition: 0.2s;
}

.mb-6 .p-2 {
    padding: 2px;
}
.mb-6 {
    margin-bottom: 10px;
}
.mb-3 h1 {
    text-align: center;
    padding: 10px;
}
.register_form {
    height: 50vh;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}
h1 {
    font-size: 20px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}
.personal-form, .address-form{

    text-align: initial;
    height: 55%;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
.contact-form{
    text-align: initial;
    height: 30%;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
.family-form{
    text-align: initial;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}

.col-12{
    text-align: left;
}

.left {
    
    float: left;
    padding-right: 10px;
    width: 50%;
}

.right {
    
    float: right;
    padding-left: 10px;
    width: 50%;
}


.confirm .col-12{
    
    text-align: initial;
    height: 30%;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}

#desktop-footer{
    margin-top: 10rem;
}









